@charset "UTF-8";
/* Reset css*/
/* @font-face {

  font-family: pictos;
  src:url('./PingFang\ Medium.ttf'),  
  url('./PingFang\ Medium.ttf'),
  url('./PingFang\ Medium.ttf'); 
} 
@font-face {

  font-family: pictos;
  src:url('./sf-pro-text_regular.woff2'),  
  url('./sf-pro-text_regular.woff2'),
  url('./sf-pro-text_regular.woff2'); 
}
*/
body,
h1,
h2,
h3,
h4,
h5,
h6,
div,
hr,
p,
blockquote,
dl,
dt,
dd,
ul,
ol,
li,
pre,
form,
fieldset,
legend,
button,
input,
textarea,
th,
td {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  /* font-family: Tahoma, Arial, "微软雅黑", "宋体";  :PingFangSC-Light, sans-serif,*/
  font-family: pictos !important;
  font-size: 12px;
  color: #fff;
  height: 100%;
}

body {
  _overflow: auto;
  _height: 100%;
  margin: 0 auto;
  font-family: pictos;
}

html {
  _overflow: hidden;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: 100%;
  font-variant: normal;
}

address,
cite,
dfn,
em,
var {
  font-style: normal;
}

code,
kbd,
pre,
samp {
  font-family: courier new, courier, monospace;
}

small {
  font-size: 12px;
}

ul,
ol,
li,
dl,
dt,
dd {
  list-style: none;
}

sup {
  vertical-align: text-top;
}

sub {
  vertical-align: text-bottom;
}

legend {
  color: #000;
}

fieldset,
img {
  border: 0;
}

button,
input,
select,
textarea {
  font: 12px/1.5 tahoma, arial, sans-serif;
  vertical-align: middle;
  cursor: pointer;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

.clear {
  clear: both;
}

.clearfix:after {
  clear: both;
  content: ".";
  display: block;
  height: 0;
  line-height: 0;
  visibility: hidden;
  zoom: 1;
}

/*Vue渲染时，清除{{}}显示*/
[v-cloak] {
  display: none;
}

/*a*/
a {
  text-decoration: none;
}

input[type=button],
input[type=submit] {
  outline: none;
  -webkit-appearance: none;
  border-radius: 0;
}

button {
  outline: none;
  -webkit-appearance: none;
  border-radius: 0;
}

select {
  background-color: transparent;
  border-color: transparent;
  -webkit-appearance: none;
}

/* 设置滚动条的样式 */
.RemoveScrollbar::-webkit-scrollbar {
  width: 0px;
  height: 0px;
}

/* 滚动槽 */
.RemoveScrollbar::-webkit-scrollbar-track {
  height: 0;
}

/*清除IOS overflow:scroll与overflow:auto 的滚动卡顿*/
.RemoveRollCar, .rr {
  overflow-y: scroll;
  -webkit-overflow-scrolling: touch;
}

/*两行省略*/
.ellipsis,
.two_line {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
}

/*一行省略*/
.one_line {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.more_line {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
}

textarea {
  resize: none;
}

a:hover {
  text-decoration: none;
}

input[type="radio"] {
  margin: 3px 3px 0px 5px;
  display: none;
}

img,
input {
  border: none;
}

p {
  line-height: 1;
  -webkit-margin-before: 0em;
  -webkit-margin-after: 0em;
  -webkit-margin-start: 0rem;
  -webkit-margin-end: 0rem;
}

* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.iconcenter {
  display: -webkit-box !important;
  display: -ms-flexbox !important;
  display: flex !important;
  display: -webkit-flex !important;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-align-items: center;
}

.box_shadow {
  -webkit-box-shadow: 0px .04rem .266667rem .08rem #e7e7e7;
  box-shadow: 0px .04rem .266667rem .08rem #e7e7e7;
  /*box-shadow: 0 -4rpx 6rpx 6rpx #eee;
  box-shadow: 水平阴影 垂直阴影 模糊距离 阴影大小 阴影颜色  内部阴影;*/
}

.float {
  display: -webkit-box !important;
  display: -ms-flexbox !important;
  display: flex !important;
  display: -webkit-flex !important;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-align-items: center;
}

.left {
  display: -webkit-box !important;
  display: -ms-flexbox !important;
  display: flex !important;
  display: -webkit-flex !important;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-align-items: center;
}

.right {
  display: -webkit-box !important;
  display: -ms-flexbox !important;
  display: flex !important;
  display: -webkit-flex !important;
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  justify-content: flex-end;
  -webkit-justify-content: flex-end;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-align-items: center;
}

.all {
  display: -webkit-box !important;
  display: -ms-flexbox !important;
  display: flex !important;
  display: -webkit-flex !important;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-flex-wrap: wrap;
}

.center {
  display: -webkit-box !important;
  display: -ms-flexbox !important;
  display: flex !important;
  display: -webkit-flex !important;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-flex-direction: column;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-align-items: center;
}

.show {
  display: block !important;
}

.hide {
  display: none !important;
}

.fixed {
  position: fixed;
  bottom: 0;
  left: 0;
  top: 0;
  right: 0;
}

.absoute {
  position: absolute;
  bottom: 0;
  left: 0;
  top: 0;
  right: 0;
}

::-webkit-input-placeholder {
  /* WebKit browsers */
  color: #c6c5c5;
}

:-moz-placeholder {
  /* Mozilla Firefox 4 to 18 */
  color: #c6c5c5;
}

::-moz-placeholder {
  /* Mozilla Firefox 19+ */
  color: #c6c5c5;
}

:-ms-input-placeholder {
  /* Internet Explorer 10+ */
  color: #c6c5c5;
}

.num_2 {
  width: 50%;
}

.flex_center {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.flex_start {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
  -ms-flex-pack: start;
  justify-content: flex-start;
}

.flex_end {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: end;
  -webkit-justify-content: flex-end;
  -ms-flex-pack: end;
  justify-content: flex-end;
}

.weui-toast,
.weui_loading_toast {
  font-size: .44rem !important;
}

.weui-toast_content {
  margin-top: .133333rem !important;
}

#loading {
  width: 10rem;
  height: 100vh;
  position: relative;
  padding-top: 1.64rem;
  box-sizing: border-box;
}

#loading .logo_loading {
  width: 4.2rem;
  height: .893333rem;
  margin: 0 auto;
  background: url("../images//font/logo.png") no-repeat center center;
  background-size: 100% 100%;
}

#loading .loading_box {
  position: absolute;
  left: 0;
  right: 0;
  height: 9.6rem;
  top: 50%;
  transform: translateY(-50%);
  background: url("../images//font/bg.png") no-repeat left center;
  background-size: 9.52rem 9rem;
}

#loading .loading_box .yi {
  position: absolute;
  left: 3.24rem;
  top: 0;
  width: 1.493333rem;
  height: 1.733333rem;
  background: url("../images//font/yi.png") no-repeat center center;
  background-size: 100% 100%;
}

#loading .loading_box .jiu {
  position: absolute;
  left: 4.76rem;
  top: .56rem;
  width: 2.186667rem;
  height: 2.306667rem;
  background: url("../images//font/jiu.png") no-repeat center center;
  background-size: 100% 100%;
  z-index: 12;
}

#loading .loading_box .bu {
  position: absolute;
  left: .866667rem;
  top: 1.813333rem;
  width: 3.946667rem;
  height: 4.48rem;
  background: url("../images//font/bu.png") no-repeat center center;
  background-size: 100% 100%;
  z-index: 12;
}

#loading .loading_box .fan {
  position: absolute;
  left: 3.546667rem;
  top: 2.173333rem;
  width: 5.933333rem;
  height: 7.32rem;
  background: url("../images//font/fan.png") no-repeat center center;
  background-size: 100% 100%;
}

#loading .loading_box .process {
  width: 5.906667rem;
  height: .146667rem;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  top: 11.0rem;
  background: url("../images//font/loading_bg.png") no-repeat center center;
  background-size: 100% 100%;
  border-radius: .073333rem;
}

#loading .loading_box .process .process_bar {
  position: absolute;
  left: 0;
  top: 0;
  height: .146667rem;
  width: 0%;
  background-color: #2ea7e0;
  border-radius: .073333rem;
  transition: 0.3s width linear;
}

#loading .loading_box .process .process_bar .per {
  width: .573333rem;
  height: .693333rem;
  position: absolute;
  right: -0.3rem;
  top: -.773333rem;
  background: url("../images//font/loading.png") no-repeat center center;
  background-size: 100% 100%;
  line-height: .603333rem;
  text-align: center;
  font-size: .213333rem;
}

#loading .loading_box::after {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translateX(-50%) translateY(-50%);
  content: '';
  display: block;
  width: 8.72rem;
  height: 6.266667rem;
  background: url("../images//font/circle.png") no-repeat center center;
  background-size: 100% 100%;
}

#start_make {
  width: 10rem;
  height: 18.266667rem;
  background: url("../images//startpage/gb1.jpg") no-repeat center center;
  background-size: 100% 100%;
  box-sizing: border-box;
  padding-top: 1.6rem;
  padding-bottom: .4rem;
}

#start_make .logo_img {
  width: 6.946667rem;
  height: 1.68rem;
  display: block;
  margin: 0 auto;
}

#start_make .sq_box {
  width: 10rem;
  height: 11.253333rem;
  margin: 0 auto;
  position: relative;
  margin-top: .666667rem;
}

#start_make .sq_box .sq_1 {
  position: absolute;
  width: 5.893333rem;
  height: 8.146667rem;
  background-color: rgba(105, 222, 255, 0.5);
  top: 50%;
  transform: translateY(-50%);
  left: .8rem;
}

#start_make .sq_box .sq_2 {
  position: absolute;
  width: 5.893333rem;
  height: 8.146667rem;
  background-color: rgba(105, 222, 255, 0.5);
  top: 50%;
  transform: translateY(-50%);
  right: .8rem;
}

#start_make .sq_box .sq_3 {
  position: absolute;
  width: 5.626667rem;
  height: 10.213333rem;
  background-color: rgba(105, 222, 255, 0.5);
  top: 50%;
  transform: translateY(-50%);
  right: 1.266667rem;
}

#start_make .sq_box .sq_4 {
  position: absolute;
  width: 5.626667rem;
  height: 10.213333rem;
  background-color: rgba(105, 222, 255, 0.5);
  top: 50%;
  transform: translateY(-50%);
  left: 1.266667rem;
}

#start_make .sq_box .sq_5 {
  position: absolute;
  width: 6.493333rem;
  height: 11.266667rem;
  background-color: #69deff;
  top: 50%;
  transform: translateY(-50%) translateX(-50%);
  left: 50%;
}

#start_make .sq_box .sq_6 {
  position: absolute;
  width: 6.093333rem;
  height: 10.866667rem;
  background: url("../images//startpage/hbfm.png") no-repeat center center;
  background-size: 100% 100%;
  top: 50%;
  transform: translateY(-50%) translateX(-50%);
  left: 50%;
}

#start_make .start_btn {
  width: 7.386667rem;
  height: 1.946667rem;
  margin: 0 auto;
  background: url("../images//startpage/btn_1.png") no-repeat center center;
  background-size: 100% 100%;
  text-align: center;
  line-height: 1.466667rem;
  color: #fefefe;
  font-size: .466667rem;
  margin-top: .6rem;
}

#fill_info {
  width: 10rem;
  height: 18.266667rem;
  background: url("../images//index_bg.jpg") no-repeat center center;
  background-size: 100% 18.266667rem;
  padding-top: .866667rem;
  box-sizing: border-box;
}

#fill_info input::-webkit-input-placeholder {
  /* placeholder颜色  */
  color: #c1bebe;
  /* placeholder字体大小  */
  font-size: .346667rem;
}

#fill_info .title {
  width: 3.533333rem;
  height: 1.96rem;
  background: url("../images//logo.png") no-repeat center center;
  background-size: 100% 100%;
  margin: 0 auto;
}

#fill_info .pannel {
  margin: 0 auto;
  margin-top: .753333rem;
}

#fill_info .pannel .top_bg {
  width: 6.693333rem;
  height: .293333rem;
  margin: 0 auto;
  background: url("../images//top_bg.png") no-repeat center center;
  background-size: 100% 100%;
}

#fill_info .pannel .fill_panel {
  width: 8.293333rem;
  height: 12.52rem;
  margin: 0 auto;
  background-color: #fff;
  border-radius: .266667rem;
  padding-top: .906667rem;
  box-sizing: border-box;
}

#fill_info .pannel .fill_panel .fill_item {
  width: 6.666667rem;
  height: 1.066667rem;
  margin: 0 auto;
  border: 1px solid #000000;
  border-radius: .053333rem;
  box-sizing: border-box;
  padding-left: 1.333333rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

#fill_info .pannel .fill_panel .fill_item .name {
  width: 5.066667rem;
  height: .8rem;
  font-size: .346667rem;
  color: #000;
}

#fill_info .pannel .fill_panel .address_item.active {
  background-image: url("../images//address_yes.png");
  border-color: #000;
}

#fill_info .pannel .fill_panel .name_item.active {
  background-image: url("../images//name.png");
  border-color: #000;
}

#fill_info .pannel .fill_panel .date_item.active {
  background-image: url("../images//ri_yes.png");
  border-color: #000;
}

#fill_info .pannel .fill_panel .address_item {
  background: url("../images//address.png") no-repeat 0.4rem center;
  background-size: .456667rem .456667rem;
  margin-bottom: .613333rem;
  padding-left: 1.133333rem;
}

#fill_info .pannel .fill_panel .name_item {
  background: url("../images//name_no.png") no-repeat 0.4rem center;
  background-size: .426667rem .453333rem;
  margin-bottom: .613333rem;
  padding-left: 1.133333rem;
}

#fill_info .pannel .fill_panel .date_item {
  background: url("../images//ri.png") no-repeat 0.4rem center;
  background-size: .426667rem .453333rem;
  position: relative;
}

#fill_info .pannel .fill_panel .date_item span {
  position: absolute;
  left: 1.333333rem;
  top: 0;
  bottom: 0;
  right: 0;
  line-height: 1.066667rem;
  color: #c1bebe;
  font-size: .346667rem;
  background: url("../images//down_arrow.png") no-repeat 4.53333rem center;
  background-size: .32rem .226667rem;
}

#fill_info .pannel .fill_panel .date_item .date {
  position: absolute;
  left: 1.333333rem;
  top: 0;
  bottom: 0;
  right: 0;
  opacity: 0;
}

#fill_info .pannel .fill_panel .tip {
  font-size: .346667rem;
  color: #000;
  text-align: center;
  padding-top: .773333rem;
}

#fill_info .pannel .fill_panel .add_img_box {
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
  overflow: hidden;
}

#fill_info .pannel .fill_panel .add_img {
  width: 2.866667rem;
  height: 2.866667rem;
  margin: 0 auto;
  background: url("../images//photo_1.png") no-repeat center center;
  background-size: 100% 100%;
  margin-top: .44rem;
  position: relative;
}

#fill_info .pannel .fill_panel .add_img img {
  width: 100%;
}

#fill_info .pannel .fill_panel .add_img .del {
  width: .666667rem;
  height: .666667rem;
  position: absolute;
  top: -0.133333rem;
  right: -0.133333rem;
  background: url("../images//del.png") no-repeat center center;
  background-size: 100% 100%;
}

#fill_info .pannel .fill_panel .btn {
  width: 6.666667rem;
  height: 2.133333rem;
  margin: 0 auto;
  background: url("../images//btn_newxt.png") no-repeat center center;
  background-size: 100% 100%;
  margin-top: .666667rem;
  color: #fff;
  font-size: .453333rem;
  text-align: center;
  line-height: 1.59rem;
  position: relative;
}

#fill_info .pannel .fill_panel .btn .btn_submit {
  position: absolute;
  width: 6.666667rem;
  height: 2.133333rem;
  left: 0;
  top: 0;
  opacity: 0;
}

#posterPage {
  position: fixed;
  left: 0;
  top: 0;
  width: 10rem;
  height: 100vh;
  background: url("../images//bg.jpg") no-repeat center center;
  background-size: 100% 100%;
  padding-top: .346667rem;
  padding-bottom: .4rem;
}

#posterPage .poster_box {
  width: 9.333333rem;
  margin: 0 auto;
  position: relative;
}

#posterPage .img_box {
  width: 9.333333rem;
  height: 3.2rem;
  margin: 0 auto;
  overflow-x: scroll;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

#posterPage .img_box .img_scroll {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

#posterPage .img_box .img.active {
  border-color: #fff;
  position: relative;
  top: -.133333rem;
}

#posterPage .img_box .img {
  width: 2.2rem;
  height: 2.2rem;
  margin-right: .266667rem;
  border-radius: .053333rem;
  overflow: hidden;
  border: .053333rem solid transparent;
  box-sizing: border-box;
}

#posterPage .img_box .img img {
  width: 100%;
}

#posterPage .xz_title {
  font-size: .373333rem;
  color: #ffffff;
  width: 9.333333rem;
  margin: 0 auto;
  height: .8rem;
  font-weight: bold;
}

#posterPage .select_box {
  width: 9.333333rem;
  height: 1.066667rem;
  margin: 0 auto;
  border: 1px solid #fff;
  border-radius: .08rem;
  margin: 0 auto;
  display: block;
  font-size: .346667rem;
  color: #fff;
  box-sizing: border-box;
  padding-left: .266667rem;
  background: url("../images//down_arrow_1.png") no-repeat 8.8rem center;
  background-size: .32rem .226667rem;
  margin-bottom: .666667rem;
}

#posterPage .reset {
  width: 9.333333rem;
  height: 1.306667rem;
  margin: 0 auto;
  background: url("../images//reset.png") no-repeat center center;
  background-size: 100% 100%;
  font-size: .453333rem;
  color: #fff;
  line-height: 1.306667rem;
  text-align: center;
  margin-bottom: .266667rem;
}

#posterPage .create_poster {
  width: 9.333333rem;
  height: 1.306667rem;
  margin: 0 auto;
  background: url("../images//create_btn.png") no-repeat center center;
  background-size: 100% 100%;
  font-size: .453333rem;
  color: #fff;
  line-height: 1.306667rem;
  text-align: center;
}

#moneyPage {
  width: 10rem;
  background: url("../images//index_bg.jpg") no-repeat center center;
  background-size: 100% 100%;
  padding-top: .4rem;
  padding-bottom: 0.4rem;
  box-sizing: border-box;
}

#moneyPage .poster_title {
  width: 10rem;
  height: 2.066667rem;
  background: url("../images//poster_title_1.png") no-repeat center center;
  background-size: 100% 100%;
  margin-bottom: .4rem;
}

#moneyPage .img {
  width: 9.333333rem;
  height: 16.48rem;
  display: block;
  margin: 0 auto;
}

#moneyPage .tip_1 {
  text-align: center;
  font-size: .4rem;
  color: #ffffff;
  line-height: 1.466667rem;
}

#moneyPage .get_money {
  width: 9.333333rem;
  height: 1.306667rem;
  margin: 0 auto;
  background: url(../images//reset.png) no-repeat center center;
  background-size: 100% 100%;
  font-size: .453333rem;
  color: #fff;
  line-height: 1.306667rem;
  text-align: center;
}

#moneyPage .mask {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.8);
}

#moneyPage .mask .box {
  width: 10rem;
  height: 10.786667rem;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translateX(-50%) translateY(-50%);
  background: url("../images//hong_bao/h_b_bg.png") no-repeat center center;
  background-size: 100% 100%;
  box-sizing: border-box;
}

#moneyPage .mask .box .close_hb {
  width: .96rem;
  height: .96rem;
  background: url("../images//hong_bao/close.png") no-repeat center center;
  background-size: 100% 100%;
  position: absolute;
  right: 1.44rem;
  top: -.933333rem;
}

#moneyPage .mask .box .kai_title_bg {
  width: 4.333333rem;
  height: 1.346667rem;
  background: url("../images//hong_bao/logo_kai.png") no-repeat center center;
  background-size: 100% 100%;
  position: absolute;
  left: 50%;
  top: 2.293333rem;
  transform: translateX(-50%);
}

#moneyPage .mask .box .kai_bg {
  width: 2.413333rem;
  height: 2.426667rem;
  background: url("../images//hong_bao/kai.png") no-repeat center center;
  background-size: 100% 100%;
  position: absolute;
  left: 50%;
  top: 5.573333rem;
  transform: translateX(-50%);
}

#moneyPage .mask .box .bottom_title {
  width: 5.746667rem;
  height: .36rem;
  background: url("../images//hong_bao/bottom.png") no-repeat center center;
  background-size: 100% 100%;
  position: absolute;
  left: 50%;
  bottom: 1.026667rem;
  transform: translateX(-50%);
}

#moneyPage .mask .box .num_box {
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: baseline;
  position: absolute;
  left: 50%;
  top: 2.533333rem;
  transform: translateX(-50%);
  color: #f7ee13;
  font-size: 1.066667rem;
}

#moneyPage .mask .box .num_box .yuan {
  font-size: .373333rem;
  font-weight: 600;
}

#moneyPage .mask .box .h_b_tip {
  font-size: .373333rem;
  color: #fff;
  text-align: center;
  position: absolute;
  left: 50%;
  top: 4.2rem;
  transform: translateX(-50%);
}

#moneyPage .mask .box .bottom_logo {
  width: 2.173333rem;
  height: .653333rem;
  background: url("../images//hong_bao/logo.png") no-repeat center center;
  background-size: 100% 100%;
  position: absolute;
  left: 50%;
  bottom: 1.733333rem;
  transform: translateX(-50%);
}
