.edit_team {
  width: 10rem;
  margin: 0 auto;
  padding-top: 1.2rem;
  padding-bottom: 1.466667rem;
}

.edit_team .title_box {
  width: 10rem;
  height: 1.2rem;
  background-color: #f5f7f7;
  box-sizing: border-box;
  padding: 0 .4rem;
  font-size: .453333rem;
  color: #333333;
  position: fixed;
  left: 50%;
  transform: translateX(-50%);
  top: 0;
}

.edit_team .teams {
  width: 10rem;
  margin: 0 auto;
  background-color: #fff;
}

.edit_team .teams li {
  width: 9.146667rem;
  margin: 0 auto;
  border-bottom: 1px solid #ececec;
}

.edit_team .teams li .select_active {
  background: url("../images/select_ok.png") no-repeat left center !important;
  background-size: 0.53333rem 0.53333rem !important;
}

.edit_team .teams li .select_label_no {
  background: none !important;
}

.edit_team .teams li .select_label {
  width: 7.013333rem;
  height: 1.64rem;
  background: url("../images/select_no.png") no-repeat left center;
  background-size: .533333rem .533333rem;
  padding-left: .8rem;
  box-sizing: border-box;
}

.edit_team .teams li .select_label .photo_img_1 {
  width: 1.106667rem;
  height: 1.106667rem;
  border-radius: 50%;
  overflow: hidden;
  margin-right: .133333rem;
}

.edit_team .teams li .select_label .photo_img_1 img {
  width: 100%;
  height: 100%;
}

.edit_team .teams li .dz_label {
  color: #eb2343;
  font-size: .373333rem;
}

.edit_team .teams li .set_team {
  width: 1.986667rem;
  height: .653333rem;
  background: url("../images/wd_border_bg.png") no-repeat center center;
  background-size: 100% 100%;
  color: #eb2343;
  text-align: center;
  line-height: .653333rem;
  font-size: .373333rem;
}

.edit_team .control_box_team {
  width: 10rem;
  height: 1.466667rem;
  position: fixed;
  left: 0;
  bottom: 0;
  background-color: #f5f7f7;
  box-sizing: border-box;
  padding: 0 .4rem;
  border-top: 1px solid #f5f7f7;
}

.edit_team .control_box_team .select_all {
  width: 1.773333rem;
  height: 1.466667rem;
  font-size: .346667rem;
  color: #333333;
  line-height: 1.466667rem;
}

.edit_team .control_box_team .select_all img {
  width: .533333rem;
  height: .533333rem;
  margin-right: .133333rem;
}

.edit_team .control_box_team .control_btns {
  width: 4.133333rem;
  height: .88rem;
  border-radius: .44rem;
  border: 1px solid #eb2343;
  overflow: hidden;
}

.edit_team .control_box_team .control_btns span:nth-child(1) {
  background-color: #fff;
  text-align: center;
  line-height: .88rem;
  width: 50%;
}

.edit_team .control_box_team .control_btns span:nth-child(2) {
  background-color: #eb2343;
  color: #fff;
  text-align: center;
  line-height: .88rem;
  width: 50%;
}

.edit_team .split_mark {
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.63);
}

.edit_team .split_mark .split_panel {
  width: 7.466667rem;
  height: 4.773333rem;
  background-color: #fff;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translateX(-50%) translateY(-50%);
  border-radius: .08rem;
  position: relative;
}

.edit_team .split_mark .split_panel .panel_title_1 {
  text-align: center;
  line-height: 1.333333rem;
  font-size: .48rem;
  color: #000;
  width: 6.88rem;
  border-bottom: 1px solid #f1f1f1;
  margin: 0 auto;
}

.edit_team .split_mark .split_panel .input_fill {
  width: 6.266667rem;
  height: 1.12rem;
  border-radius: .08rem;
  border: 1px solid #f1f1f1;
  margin: 0 auto;
  margin-top: .48rem;
}

.edit_team .split_mark .split_panel .input_fill input {
  width: 5.333333rem;
  height: .933333rem;
  font-size: .4rem;
}

.edit_team .split_mark .split_panel .input_fill .select_dance_team {
  width: 5.333333rem;
  height: .933333rem;
  font-size: .4rem;
  color: #999;
  font-size: .4rem;
}

.edit_team .split_mark .split_panel .select_fill {
  width: 5.333333rem;
  height: .933333rem;
  box-sizing: border-box;
  padding-left: .4rem;
  background: url("../images/arrow_right.png") no-repeat 4.8rem center;
  background-size: .226667rem .413333rem;
}

.edit_team .split_mark .split_panel .bottom_btns {
  position: absolute;
  width: 100%;
  left: 0;
  bottom: 0;
  border-top: 1px solid #f1f1f1;
  height: 1.333333rem;
}

.edit_team .split_mark .split_panel .bottom_btns span {
  width: 50%;
  height: 1.333333rem;
  text-align: center;
  line-height: 1.333333rem;
  font-size: .48rem;
  box-sizing: border-box;
}

.edit_team .split_mark .split_panel .bottom_btns .cancel_btn {
  border-right: 1px solid #f1f1f1;
  color: #000;
}

.edit_team .split_mark .split_panel .bottom_btns .sure_btn {
  color: #eb2343;
}
