#vote_box
{
    width: 10rem;
    margin: 0 auto;
    .vote_tip
    {
        text-align: center;
        font-size: .32rem;
        color:#999999;
        line-height: 1.12rem;
        background-color: #f2f2f2;
        border-top: .026667rem solid #fff;
    }
    .team_box
    {
        width: 10rem;
        background-color: #f2f2f2;
        padding-bottom: .4rem;
        li.team_item
        {
            width: 9.146667rem;
            background-color: #fff;
            height: 2.133333rem;
            margin: 0 auto;
            border-radius: .133333rem;
            box-sizing: border-box;
            padding: 0 .4rem;
            margin-bottom: .266667rem;
            .tickets_num
            {
                width: 1.386667rem;
                height: 1.386667rem;
                border-radius: 50%;
                background: url("../../images/circle_1.png") no-repeat center center;
                background-size: 100% 100%;
                line-height: 1.386667rem;
                text-align: center;
                color:#fffefe;
                font-size: .32rem;
            }
            .team_info
            {
                padding-left: .24rem;
                height: 1.4rem;
                display: flex;
                align-items: flex-start;
                justify-content: center;
                flex-direction: column;
                p:nth-child(1)
                {
                    color:#333333;
                    font-size: .426667rem;
                    width: 5.2rem;
                    line-height: 1;
                    margin-bottom: .266667rem;
                }
                p:nth-child(2)
                {
                    color:#666;
                    line-height: 1;
                    font-size: .373333rem;
                   
                }
            }
            .vote_btn.active
            {
                background: url("../../images/tp_yes.png") no-repeat center center;
                background-size: 100% 100%;
            }
            .vote_btn
            {
                width: 1.413333rem;
                height: .666667rem;
                border-radius: .333333rem;
                background: url("../../images/tp_no.png") no-repeat center center;
                background-size: 100% 100%;
            }
        }
    }
    .vote_ticke_box
    {
        position: fixed;
        width: 100%;
        height: 100vh;
        background-color: rgba($color: #000000, $alpha: 0.62);
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        .swiper_box
        {
            position: absolute;
            width: 10rem;
            margin: 0 auto;
            height: 8.066667rem;
            left: 50%;
            bottom:-6.666667rem;
            transform: translateX(-50%);
            background: white;
           // transition: all 0.5s cubic-bezier(0.13, 1.04, 0.68, 1.01);
            .title_tp
            {
                width: 9.066667rem;
                height: 1.2rem;
                margin: 0 auto;
                border-bottom: 1px solid #f2f2f2;
                font-size: .426667rem;
                color:#333333;
                .close
                {
                    width: 1.2rem;
                    height: 1.2rem;
                    background: url("../../images/close.png") no-repeat center center;
                    background-size: .453333rem .453333rem;
                }
            }
            .gift_content_box
            {
                position: relative;
                width: 100%;
               
                .swiper-container
                {
                    height: 6.96rem;
                }
                .gift_box
                {
                    width: 100%;
                    height: 6.066667rem;
                    flex-wrap: wrap;
                    align-items: flex-start;
                    .gift_item
                    {
                        width: 25%;
                        height: 2.666667rem;
                        .img_content
                        {
                            
                            height:1.413333rem ;
                            img
                            {
                                width: .88rem;
                                height: auto;
                            }
                        }
                        .ticket_num
                        {
                            text-align: center;
                            font-size: .4rem;
                            color:#000000;
                            margin-bottom: .133333rem;
                        }
                        .ticket_money
                        {
                            font-size: .32rem;
                            color:#999999;
                            text-align: center;
                        }
                    }
                   
                }
                .my-pagination-total
                {
                    bottom: .52rem!important;
                }
                .my-pagination-total .swiper-pagination-bullet
                {
                    width: .76rem;
                    height: .08rem;
                    border-radius: .026667rem;
                    margin: 0;
                    background: #c7c7cc;
                    opacity: 1;
                    
                }
                .my-pagination-total .swiper-pagination-bullet.swiper-pagination-bullet-active
                {
                    background: #eb2343!important;
                }
            }
        }
    }
    //点赞成功
    .suport_mark
    {
        position: fixed;
        left: 0;
        top:0;
        bottom: 0;
        right: 0;
        background: rgba($color: #000000, $alpha: 0.62)
    }
  
}